---
import Layout from "../layouts/Layout.astro";
// import { Typing } from "../components/Typing";
---

<Layout title="Welcome to Astro.">
  <div class="h-screen space-y-2 pt-5 pb-8 md:space-y-5 md:mt-20">
    <div
      class="animate-text bg-gradient-to-r from-[#6EE7B7] via-[#3B82F6] to-[#9333EA]
             bg-clip-text text-transparent"
    >
      <h1
        class="tracking-tight my-10 text-6xl font-bold leading-none sm:text-7xl select-none"
      >
        Abdul Vaiz Vahry Iskandar
      </h1>
    </div>
    <div class="rounded-lg border-2 border-gray-600 p-5">
      <!-- <Typing client:only="react" /> -->
      <p class="text-lg leading-7 text-black dark:text-gray-400">
        I am a website developer, cloud engineer, and graphic designer. I
        started learning to make websites in 2019.
      </p>
    </div>
  </div>
</Layout>
